<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Spring Overflow</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/pagedown.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <script src="/js/jquery-2.2.0.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body>
    <div id="mainNav" class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="row">
                <div class="navbar-header col-md-2">
                    <a href="/"><img src="/images/logo-spring-io.png" alt="Spring IO"/></a>
                </div>
                <div class="col-md-8">&nbsp;</div>
                <div class="col-md-2 text-right">
                    <a href="/task">Tasks</a>
                </div>
            </div>
        </div>
    </div>
    <div layout:fragment="content"/>
    <footer class="footer">
        <div class="container">
            <div class="col-med-8">
                <ul class="list-inline">
                    <li><a href="https://spring.io/team">Team</a></li>
                    <li><a href="https://spring.io/services">Services</a></li>
                    <li><a href="https://spring.io/tools">Tools</a></li>
                </ul>
                &copy; <span>2014</span> <a href="http://pivotal.io">Pivotal Software</a>, Inc. All Rights Reserved.
                <a href="http://pivotal.io/terms-of-use">Terms of Use</a> and
                <a href="http://pivotal.io/privacy-policy">Privacy</a>
            </div>
        </div>
    </footer>
</body>
</html>